
/* contact */
.contact {
    color: $color-white;

    background-color: $color-black;
    background-image: url(../img/contact/contact_bg.jpg);
    background-size: cover;
}

.contact__items {
    margin-bottom: 80px;
}

.contact__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    & i {
    min-width: 100px;
    padding: 20px;
    margin: 0 auto;

    font-size: 60px;
    text-align: center;

    border-radius: 50%;
    background-color: $color-blue;
    }

    @media (max-width: $max-md) {
        margin-bottom: 15px;
    }
}

.contact__text {
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    @media (max-width: $max-xl) {
        font-size: 18px;
    }

    @media (max-width: $max-lg) {
        font-size: 16px;
    }
}

.contact__input {
    width: 100%;
    padding: 28px 15px;
    margin-bottom: 32px;

    border: 0;
    border-radius: $border-radius;

    &::placeholder {
        font-size: 20px;
        font-weight: 600;
    }
}

.contact__textarea {
    width: 100%;
    min-height: 320px;
    padding: 28px 15px;
    margin-bottom: 38px;

    border: 0;
    border-radius: $border-radius;

    resize: none;

    &::placeholder {
        font-size: 20px;
        font-weight: 600;
    }
}

.contact__button {
    min-width: 220px;
    padding: 19px 0;
    
    color: $color-black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;

    background-color: $color-white;
    
    border-radius: $border-radius;
}