/* footer */
.footer__copyright {
  width: 100%;
  margin: 22px 0;

  color: $color-black;
  font-weight: 700;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;

  background-color: $color-white;
}
