/* header*/

.header__inner {
    padding: 45px 0 45px;
}

.logo {
    font-size: 25px;
    font-weight: 700;
}

.nav__ul {
    display: flex;
    justify-content: flex-end;
}

.nav__li {
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 1199.98px) {
        & {
            margin-right: 30px;
        }
    }
}

.nav__link {
    font-size: 20px;
    font-weight: 600;
}