/* services */
.services {
  text-align: center;
}

.services__title {
  margin-bottom: 15px;

  font-weight: 600;
  font-size: 20px;

  transition: color 0.2s linear;
}

.services__text {
  margin-bottom: 35px;

  transition: color 0.2s linear;

  @media (max-width: $max-sm) {
    font-size: 15px;
  }
}

.services__item {
  margin-bottom: 30px;
  padding: 50px;

  background-color: $white;

  transition: background-color 0.2s linear, box-shadow 0.2s linear;

  @media (max-width: $max-sm) {
    padding: 20px 10px;
  }

  &:hover {
    color: $white;

    background-color: $color-turquoise-dark;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.35);

    & .services__icon {
      opacity: 0;
    }

    & .services__button {
      color: $color-white;

      border-color: $color-white;
    }

    & .services__button:hover {
      color: $color-black;

      background-color: $color-turquoise;
      border-color: $color-turquoise;
    }
  }
}

.services__image {
  margin-bottom: 25px;

  background-image: url("../img/services/services_2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.services__icon {
  margin: 0 auto;

  opacity: 1;

  transition: opacity 0.2s linear;
}

.services__button {
  padding: 12px;
}
