/* team */
.team__item {
  text-align: center;
}

.team__image {
  margin: 0 auto 30px;

  border-radius: 10px;

  @media (max-width: $max-sm) {
    margin-bottom: 5px;
  }
}

.team__title {
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 20px;

  @media (max-width: $max-sm) {
    margin-bottom: 2px;

    font-size: 15px;
  }
}

.team__subtitle {
  margin-bottom: 20px;

  @media (max-width: $max-sm) {
    margin-bottom: 5px;

    font-size: 12px;
  }
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social__item {
  min-width: 52px;
  margin: 0 14px;
  padding: 5px 11px;

  background-color: $color-gray;
  border-radius: $border-radius;

  @media (max-width: $max-xl) {
    min-width: 47px;
    margin: 0 4px;
    padding: 6px 0;
  }

  @media (max-width: $max-md) {
    min-width: 33px;
    margin: 0 4px;
    padding: 3px 0;
  }

  @media (max-width: $max-sm) {
    display: none;
    min-width: 24px;
    margin: 0 2px;
    padding: 0;
  }

  &:hover {
    background-color: $color-blue;

    .team-social__link {
      color: $color-white;
    }
  }
}

.team-social__link {
  color: $color-turquoise-dark;
  font-size: 30px;

  @media (max-width: $max-xl) {
    font-size: 25px;
  }

  @media (max-width: $max-md) {
    font-size: 20px;
  }

  @media (max-width: $max-md) {
    font-size: 18px;
  }
}

.carousel--team {
  padding-bottom: 140px;

  @media (max-width: $max-sm) {
    padding-bottom: 75px;
  }
}

.carousel--team li {
  width: 15px;
  height: 15px;

  background-color: $color-turquoise-dark;
  border: 0;
  border-radius: $border-radius;
  opacity: 1;

  transition: background-color 0.2s linear;
  &.active {
    background-color: $color-blue;
  }
}
