
<!-- about -->
<section class="section" id="about">
    <div class="container">

        <div class="row section__inner">
            <div class="col-sm-12">
                <div class="section__header">
                    <h2 class="section__title">About Us</h2>
                    <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
            </div>
        </div>

        <div class="about">
            <div class="row justify-content-around">
                <div class="col-lg-3 col-md-12 mb-md-5 mb-sm-5 mb-4">
                    <div class="about__item">
                        <img src="assets/img/about/about_1.png" alt="about" class="about__icon">
                        <h3 class="about__title">Awesome Icons</h3>
                        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-sm-5 mb-4">
                    <div class="about__item">
                        <img src="assets/img/about/about_2.png" alt="about" class="about__icon">
                        <h3 class="about__title">One Page</h3>
                        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-sm-5 mb-4">
                    <div class="about__item">
                        <img src="assets/img/about/about_3.png" alt="about" class="about__icon">
                        <h3 class="about__title">Fully Responsive</h3>
                        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>