
<!-- blog -->
<section class="section section--turquoise" id="blog">
    <div class="container">
        <div class="row section__inner">
            <div class="col-lg-12">
                <div class="section__header">
                    <h2 class="section__title">Blog</h2>
                    <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                </div>
            </div>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-lg-6">
                    <img src="assets/img/blog/blog_1.jpg" alt="" class="blog__image">
                </div>
                <div class="col-lg-6">
                    <div class="blog__content">
                        <h3 class="blog__title"><a href="" class="blog__link">SEO Quis Vestibulum</a></h3>
                        <div class="blog__subtitle">
                            <div class="blog__date">
                                <span class="blog__icon"><i class="far fa-calendar-alt"></i></span><time pubdate datetime="2017-02-07">14.0702017</time>
                            </div>
                            <div class="blog__name">
                                <span class="blog__icon"><i class="far fa-file"></i></span>Development
                            </div>
                        </div>
                        <div class="blog__text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</div>
                    </div>
                </div>
            </div>
            <div class="row flex-lg-row-reverse">
                <div class="col-lg-6">
                    <img src="assets/img/blog/blog_2.jpg" alt="" class="blog__image">
                </div>
                <div class="col-lg-6">
                    <div class="blog__content">
                        <h3 class="blog__title"><a href="" class="blog__link">SEO Quis Vestibulum</a></h3>
                        <div class="blog__subtitle">
                            <div class="blog__date">
                                <span class="blog__icon"><i class="far fa-calendar-alt"></i></span><time pubdate datetime="2017-02-07">14.0702017</time>
                            </div>
                            <div class="blog__name">
                                <span class="blog__icon"><i class="far fa-file"></i></span>Development
                            </div>
                        </div>
                        <div class="blog__text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</div>
                    </div>
                </div>
            </div>
            <div class="row blog__last">
                <div class="col-lg-6">
                    <img src="assets/img/blog/blog_3.jpg" alt="" class="blog__image">
                </div>
                <div class="col-lg-6">
                    <div class="blog__content">
                        <h3 class="blog__title"><a href="" class="blog__link">SEO Quis Vestibulum</a></h3>
                        <div class="blog__subtitle">
                            <div class="blog__date">
                                <span class="blog__icon"><i class="far fa-calendar-alt"></i></span><time pubdate datetime="2017-02-07">14.0702017</time>
                            </div>
                            <div class="blog__name">
                                <span class="blog__icon"><i class="far fa-file"></i></span>Development
                            </div>
                        </div>
                        <div class="blog__text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <a href="#" class="button button--black blog__button">More</a>
                </div>
            </div>
        </div>
    </div>
</section>