
<!-- contact -->
<section class="contact section" id="contact">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10">

                <div class="row section__inner">
                    <div class="col-lg-12">
                        <div class="section__header">
                            <h2 class="section__title">Contact Us</h2>
                            <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        </div>
                    </div>
                </div>

                <div class="contact__item">
                    <div class="row d-flex justify-content-around contact__items">
                        <div class="col-12 mb-4 col-md-4">
                            <div class="contact__icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <p class="contact__text">Nobinagar savar,Dhaka Bangladesh</p>
                        </div>
                        <div class="col-12 mb-4 col-md-4">
                            <div class="contact__icon">
                                <i class="fas fa-phone-alt"></i>
                            </div>
                            <p class="contact__text">+8801743331996 +8801928737807</p>
                        </div>
                        <div class="col-12 mb-4 col-md-4">
                            <div class="contact__icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <p class="contact__text">quickmasud@gmail.com quickmasud@yahoo.com</p>
                        </div>
                    </div>

                    <form action="/" method="POST" class="contact__form">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-12">

                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-6">
                                        <input class="contact__input" type="text" name="text" autocomplete="name" placeholder="Your NAME">
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="contact__input" type="email" name="email" autocomplete="email" placeholder="Your Email">
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-12">
                                        <textarea class="contact__textarea" name="textarea" placeholder="Write Message"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 d-flex justify-content-center justify-content-sm-end">
                                        <button class="button contact__button" name="contactButton">Send</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div> <!-- contact -->
                
            </div> <!-- col -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>