
<!-- services -->
<section class="section section--turquoise" id="services">
    <div class="container">
        <div class="services">

            <div class="row section__inner">
                <div class="col-sm-12">
                    <div class="section__header">
                        <h2 class="section__title">Our Services</h2>
                        <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="services__item">
                        <div class="services__image">
                            <img src="assets/img/services/services_1.png" alt="" class="services__icon">
                        </div>
                        <h3 class="services__title">Research</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="button button--black services__button">Read more</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="services__item">
                        <div class="services__image">
                            <img src="assets/img/services/services_1.png" alt="" class="services__icon">
                        </div>
                        <h3 class="services__title">Portfolio</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="button button--black services__button">Read more</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="services__item">
                        <div class="services__image">
                            <img src="assets/img/services/services_1.png" alt="" class="services__icon">
                        </div>
                        <h3 class="services__title">Support</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="button button--black services__button">Read more</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="services__item">
                        <div class="services__image">
                            <img src="assets/img/services/services_1.png" alt="" class="services__icon">
                        </div>
                        <h3 class="services__title">Documentation</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="button button--black services__button">Read more</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="services__item">
                        <div class="services__image">
                            <img src="assets/img/services/services_1.png" alt="" class="services__icon">
                        </div>
                        <h3 class="services__title">Development</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="button button--black services__button">Read more</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="services__item">
                        <div class="services__image">
                            <img src="assets/img/services/services_1.png" alt="" class="services__icon">
                        </div>
                        <h3 class="services__title">Design</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="button button--black services__button">Read more</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>