
<!-- works -->
<section class="section" id="works">
    <div class="container">

            <div class="row section__inner">
                <div class="col-lg-12">
                    <div class="section__header">
                        <h2 class="section__title">Latest Works</h2>
                        <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                    </div>
                </div>
            </div>
        
        <div class="works">
            <div class="row">
                <div class="col-lg-12 works__menu">
                        <ul class="works__ul">
                            <li class="works__li">
                                <button class="button works__button">All</button>
                            </li>
                            <li class="works__li">
                                <button class="button works__button">Web design</button>
                            </li>
                            <li class="works__li">
                                <button class="button works__button">UI/UX design</button>
                            </li>
                            <li class="works__li">
                                <button class="button works__button">Mockups</button>
                            </li>
                        </ul>
                </div>
            </div>

            <div class="row justify-content-center works__gallery">
                <div class="col-auto col-sm-6 col-lg-4">
                    <div class="works__item">
                        <img src="assets/img/works/works_1.jpg" alt="works" class="works__image" data-category="ui/ux design">
                        <div class="works__header">
                            <h3 class="works__title">Hand Watch</h3>
                            <p class="works__category"></p>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-6 col-lg-4">
                    <div class="works__item">
                        <img src="assets/img/works/works_2.jpg" alt="works" class="works__image" data-category="web design">
                        <div class="works__header">
                            <h3 class="works__title">Item name</h3>
                            <p class="works__category"></p>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-6 col-lg-4">
                    <div class="works__item">
                        <img src="assets/img/works/works_3.jpg" alt="works" class="works__image" data-category="mockups">
                        <div class="works__header">
                            <h3 class="works__title">Item name</h3>
                            <p class="works__category"></p>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-6 col-lg-4">
                    <div class="works__item">
                        <img src="assets/img/works/works_4.jpg" alt="works" class="works__image" data-category="mockups">
                        <div class="works__header">
                            <h3 class="works__title">Item name</h3>
                            <p class="works__category"></p>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-6 col-lg-4">
                    <div class="works__item">
                        <img src="assets/img/works/works_5.jpg" alt="works" class="works__image" data-category="web design">
                        <div class="works__header">
                            <h3 class="works__title">Item name</h3>
                            <p class="works__category"></p>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-6 col-lg-4">
                    <div class="works__item">
                        <img src="assets/img/works/works_6.jpg" alt="works" class="works__image" data-category="ui/ux design">
                        <div class="works__header">
                            <h3 class="works__title">Item name</h3>
                            <p class="works__category"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <button class="button works__button works__button--after">View all</button>
                </div>
            </div>

        </div> <!-- /.works-->
    </div> 
</section>